{% extends "template.twig" %}

{% import 'forms.twig' as forms %}

{% block title %}Register{% endblock %}

{% block content %}
    <h1>Register</h1>
    <form method="post">
        {{ forms.input("Username", "username") }}
        {{ forms.input("Password", "password", "", "password") }}
        {{ forms.input("Re-Type", "password2", "", "password") }}
        {{ forms.submit("Register") }}
    </form>
{% endblock %}