<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <link rel="stylesheet" href="/assets/css/base.css" />
            <title>{% block title %}{% endblock %} - Password Demo</title>
        {% endblock %}
    </head>
    <body>
        <div id="header">
            <h1>Password Demo</h1>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/register">Register</a></li>
                <li><a href="/login">Login</a></li>
            </ul>
        </div>
        {% if message|default(false) %}
            <div id="message" class="{% if error|default(false) %}error{% endif %}"><h2>{{ message }}</h2></div>
        {% endif %}
        <div id="content">{% block content %}{% endblock %}</div>
        <div id="footer">
            {% block footer %}
                &copy; Copyright 2013 by <a href="http://blog.ircmaxell.com/">Anthony Ferrara</a>.
            {% endblock %}
        </div>
    </body>
</html>